*{
  margin:0;
  padding: 0;
  font-family: Helvetica;
}
body{
 
  background-size: cover;
  background-image: url(https://i.gifer.com/iLx.gif);
  background-position: center;
  opacity: 80;
  
  
}
/*Cadastro*/
.container1{
  
 color: aliceblue;
 margin-left: 700px;
 padding: 20px;
 margin-top: 20px;
 border-radius: 10px;
 width: 60%;


    
}


/*Login*/
.container2{
  text-align: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
  color: aliceblue;
  background-image: url(https://i.gifer.com/5LjV.gif);
  background-position: center;
  background-size: cover;
  border-radius: 20px; 
  width: 20%;;
  
 
}
label{
  font-weight: bold;
    
}


/*Boas Vindas*/
.welcome{
  color:rgb(0, 0, 0);
  position: absolute;
  text-align: center;
  padding:50px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top:50px;
  margin-left: 250px;
  border-radius: 50px;
 
}
/**/
.welcome button{
  border:none;
  background-color: rgb(15, 15, 15,0.9);
  color: aliceblue;
  font-weight: bold;
  border-radius: 45px;
  padding: 15px;
  font-size: 25px;
}
.inicio{
  color:white;
  text-align: initial;
  padding:25px;
  background-color: rgba(0,0,0,0.6);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}
main img{
  text-align: initial;
  width: 50px;
  position: relative;
  perspective: 1000px;
}
main .front,.back{
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}
main .front{
  transform: rotateY(0deg);
}
main .back{
  text-align: center;
  transform: rotateY(180deg);
  border-radius: 15px;
}
main .logo:hover .front{
  transform: rotateY(-180deg);
}
main .logo:hover .back{
  transform: rotateY(0deg);
}
main p{
  text-align: center;
}
main h1{
  text-align: center;
}