<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/logo-discord-vermelho.png">
    <title>Concord</title>
</head>
<body>
    <header class="topo">
        <h1>Concord</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
    <div class="login">
        <h1>Login</h1>
        <form action="" methods="POST">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="1" placeholder="Informe seu email:"><br>
            <label for="password">Senha</label>
            <input type="password" name="password" id="2" autocomplete="off" placeholder="Informe sua senha:"/><br><br>
            <input type="submit" name="submit" value="Entrar" style="color:black;"/>
        </form>
            <div class="cadastro">
                <p>Ainda não tem uma conta?</p>
                <button><a href="#" style="color:black">Criar</a></button>
            </div>
        </div>
</body>
</html>