{% extends 'base.html' %}

{% block content %}
<div class="container1">
    <div class="row">
        <div class="cadastro">
            <h3>Faça seu cadastro!</h3>
            <div class="col-md-6">
                <form id="cadastro" method="POST">
                    {{ form.hidden_tag() }}
                    
                    {{ form.nome.label }}
                    {{ form.nome(class_="form-control") }}<br>
                    {{ form.nascimento.label }}
                    {{ form.nascimento(class_="form-control")}}<br>
                    {{ form.origem.label }}
                    {{ form.origem(class_="form-control") }}<br>
                    {{ form.uf.label }}
                    {{ form.uf(class_="form-control")}}<br>
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}<br>
                    {{ form.senha.label }}
                    {{ form.senha(class_="form-control") }}<br>
                    <div class="submit">
                        {{ form.submit(class_="btn btn-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}