{% extends 'base.html' %}

{% block content %}
<div class="container2">
    <div class="row">
        <div class="login">
            <h3>Olá denovo!</h3>
            <div class="col-md-12">
                <form id="login" method="POST">
                    {{ form.hidden_tag() }}
                    
                    {{ form.email.label }}
                    {{ form.email(class_="form-control") }}<br>
                    {{ form.senha.label }}
                    {{ form.senha(class_="form-control") }}<br>
                    <div class="submit">
                        {{ form.submit(class_="btn btn-dark") }}
                    </div>
                    <p>Não tem conta?<a href="{{ url_for('usuario.registro')}}">Vem pra cá</a>.</p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}