{% extends 'base.html' %}

{% block content %}
<header class="inicio">
    <h1>    
        Boas vindas {{current_user.nome}}!
    </h1>
</header>
<main>
    <div class="container bg-dark text-white">
        <div class="logo">
            <div class="front">
                <img src="../static/img/logo-discord-vermelho.png">
            </div>
            <div class="back">
                <p>{{current_user.nome}}</p>
            </div>
            <h1>{{sala}}</h1>
            <div id="msgs" class="container bg-light text-dark">
                <br>
                <br>
            </div>
            <br>
            <input type="text" id="msg" placeholder="enviar mensagem"><br><br>
            <button class="btn btn-outline-info" onclick="enviar()">Enviar</button>
            {% set local = url_for('main.index') %}
            <button class="btn btn-outline-info" onclick="desconectar('{{local}}')">Sair da Sala</button>
        </div>
        <br>
    </div>
</main>
{% endblock %}